@using System.Configuration

@using RecruitingWeb.Helpers
@using RecruitingWeb.Properties
@using RecruitingWeb.Components.DataTable.Helpers

@using Recruiting.Application.Roles.Enums
@using Recruiting.Application.Usuarios.ViewModels
@using Recruiting.Application.Candidatos.ViewModels

@using RecruitingWeb.Components.Searchable

@model RecruitingWeb.Models.FiltroCandidatoModels

@{
    var tiempoExpiracionCookie = ConfigurationManager.AppSettings["tiempoExpiracion"].ToString();
    var usuarioViewModel = (UsuarioRolPermisoViewModel)HttpContext.Current.Session["Usuario"];
    var nUsuario = usuarioViewModel.UserName;

    var ListadoPermisos = (Dictionary<int, string>)HttpContext.Current.Session["Permisos"];

    if (ListadoPermisos == null)
    {
        var permisos = new Dictionary<int, string>();

        foreach (var rol in usuarioViewModel.UsuarioRol)
        {
            foreach (var permiso in rol.PermisoRol)
            {
                if (!permisos.ContainsKey(permiso.PermisoId))
                {
                    permisos.Add(permiso.PermisoId, permiso.PermisoNombre);
                }
            }
        }
        ListadoPermisos = permisos;
    }

    var ListadoRoles = (Dictionary<int, string>)HttpContext.Current.Session["Roles"];
}

@Html.ScriptBlock(
    @<script type="text/javascript">
         registerCallback(function () {
             var originalFilter = getFiltersCandidatos();
             var filter = GetFilterForSearchableTable(originalFilter);
             $('#tablaCandidatos').data("filters", filter);
         });
    </script>
                                                                )
<div class="row titlePage">
    <div class="col-lg-6">
        <h3>@Resources.HTML_Candidatos_Index_GestionCandidatos</h3>
    </div>
</div>
<div class="row">
    <a href="@Url.Action("Create", "Candidatos")" class="btn btn-default @(!ListadoPermisos.ContainsKey((int)PermisosRolesEnum.AniadirEliminarCandidato) ? "hide" : "")" style="float:right;margin-bottom:10px;">
        <span class="text">@Resources.HTML_Candidatos_Index_AniadirCandidato</span>
    </a>
    <div class="col-lg-6 removePadding">
        <h4 class="noMargin headerBox">Filtro</h4>
    </div>
</div>
<div class="row">
    <div class="content-box  border-top-cero">
        <div class="content-box-content" id="form-filter">
            <div class="row" data-id="formFilter">
                <div class="form-group col-lg-4">
                    <div class="col-lg-4 title-form">
                        <label for="filterNombre">@Resources.HTML_Candidatos_Index_Nombre</label>
                    </div>
                    <div class="col-lg-8">
                        @Edit.Text(Model.Nombre, "filterNombre", id: "filterNombre", required: false, validate: true, htmlClass: "form-control", maxLength: 500)
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="col-lg-4 title-form">
                        <label for="filterApellidos">@Resources.HTML_Candidatos_Index_Apellidos</label>
                    </div>
                    <div class="col-lg-8">
                        @Edit.Text(Model.Apellidos, "filterApellidos", id: "filterApellidos", required: false, validate: true, htmlClass: "form-control", maxLength: 500)
                    </div>
                </div>

                <div class="form-group col-lg-4">
                    <div class="col-lg-4 title-form">
                        <label for="CentroId">@Resources.HTML_Candidatos_Index_Email</label>
                    </div>
                    <div class="col-lg-8">
                        @Edit.Text(Model.Email, "filterEmail", id: "filterEmail", required: false, validate: true, htmlClass: "form-control")
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-lg-4">
                    <div class="col-lg-4 title-form">
                        <label for="filterTipoIdentificacion">@Resources.HTML_Candidatos_Index_TipoIdentificacion</label>
                    </div>
                    <div class="col-lg-8">
                        @Edit.DropDownExtend(Model.TipoIdentificacionId, "filterTipoIdentificacion", Model.TipoIdentificacionList, htmlClass: "form-control", validate: false, required: false, id: "filterTipoIdentificacion")
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="col-lg-4 title-form">
                        <label for="filterNumIdentificacion">@Resources.HTML_Candidatos_Index_NumeroIdentificacion</label>
                    </div>
                    <div class="col-lg-8">
                        @Edit.Text(Model.NumeroIdentificacion, "filterNumIdentificacion", id: "filterNumIdentificacion", required: false, validate: true, htmlClass: "form-control", maxLength: 10)
                    </div>
                </div>

                <div class="form-group col-lg-4">
                    <div class="col-lg-4 title-form">
                        <label for="CentroId">@Resources.HTML_Candidatos_Index_Telefono</label>
                    </div>
                    <div class="col-lg-8">
                        @Edit.Text(Model.Telefono, "filterTelefono", id: "filterTelefono", required: false, validate: true, htmlClass: "form-control")
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-lg-4">
                    <div class="col-lg-4 title-form">
                        <label for="filterTipoTecnologia">@Resources.HTML_Candidatos_Index_Tecnologia</label>
                    </div>
                    <div class="col-lg-8">
                        @Edit.DropDownExtend(Model.TipoTecnologiaId, "filterTipoTecnologia", Model.TipoTecnologiaList, htmlClass: "form-control", validate: false, required: false, id: "filterTipoTecnologia")
                    </div>
                </div>

                <div class="form-group col-lg-4">
                    <div class="col-lg-4 title-form">
                        <label for="filterTitulacion">@Resources.HTML_Candidatos_Index_TipoTitulacion</label>
                    </div>
                    <div class="col-lg-8">
                        @Edit.DropDownExtend(Model.TipoTitulacionId, "filterTitulacion", Model.TitulacionList, htmlClass: "form-control", validate: false, required: false, id: "filterTitulacion")
                    </div>
                </div>

                <div class="form-group col-lg-4">
                    <div class="col-lg-4 title-form">
                        <label for="filterCentroEducativoId">@Resources.HTML_Candidatos_Index_CentroEducativo</label>
                    </div>
                    <div class="col-lg-8">
                        @Html.Hidden("filterCentroEducativoName")
                        @(Html.Searchable("filterCentroEducativoId", Url)
                                                                                                                        .Id("filterCentroEducativoId")
                                                                                                                        .AddCssClass("form-control")
                                                                                                                        .Action("GetCentrosEducativosByNombreCentro", "Candidatos")
                                                                                                                        .Value(Model.CentroEducativoName, hiddenValue: Model.CentroEducativoId.ToString()))
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="form-group col-lg-4">
                    <div class="col-lg-4 title-form">
                        <label for="CentroId">@Resources.HTML_Candidatos_Index_Centro</label>
                    </div>
                    <div class="col-lg-8">
                        @Edit.DropDownExtend(Model.CentroIdUsuario, "filterCentro", Model.CentroList, htmlClass: "form-control", validate: false, required: false, id: "filterCentro")
                    </div>
                </div>

                <div class="form-group col-lg-4">
                    <div class="col-lg-4 title-form">
                        <label for="CentroId">@Resources.HTML_Candidatos_Index_AnioEgresado</label>
                    </div>
                    <div class="col-lg-8">
                        @Edit.Text(Model.AnioRegresado, "filterAnioRegresado", id: "filterAnioRegresado", required: false, validate: true, htmlClass: "form-control")
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="col-lg-4 title-form">
                        <label for="filterNivelIdioma">@Resources.HTML_Candidatos_Index_InglesHeader</label>
                    </div>
                    <div class="col-lg-8">
                        @Edit.DropDownExtend(Model.NivelIdioma, "filterNivelIdioma", Model.NivelIdiomaList, htmlClass: "form-control", validate: false, required: false, id: "filterNivelIdioma")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="text-align:right;">
                    <div class="btn-group" role="group" aria-label="...">
                        <button name="limpiar" id="limpiar" type="button" class="btn btn-default">@Resources.HTML_BotonGenericoLimpiar</button>
                        <button name="buscar" type="button" class="btn btn-default">@Resources.HTML_BotonGenericoBuscar</button>
                    </div>
                </div>
            </div>
            <input hidden name="FilterCandidatoCandidaturas" id="FilterCandidatoCandidaturas" />
            <input hidden name="BuscarModalCandidatura" id="BuscarModalCandidatura" value="false" />
            <input hidden name="FilterCandidatoBecarios" id="FilterCandidatoBecarios" />
            <input hidden name="BuscarModalBecario" id="BuscarModalBecario" value="false" />
        </div> <!-- End .content-box-content #form-filter  -->
    </div> <!-- End .content-box -->
</div> <!-- End .row -->
<div id="tabla" name="tabla">
    <div class="content-box">
        <div class="content-box-content">
            <div class="row">
                <div class="col-lg-12" style="text-align:right; padding-bottom: 10px;">
                    <span id="btnDescargarExcel" class="icon icon-excel"></span>
                </div>
                <div class="col-lg-12">
                    @{
                        int pagina = Model.Pagina ?? 0;
                        var config = Html.InitializeDataTable<CandidatoRowViewModel>();
                        int nElem = Convert.ToUInt16(Resources.NElementosPagina);
                        config.Name("tablaCandidatos")
                            .AjaxLoadUrl(Url.Action("LoadCandidatos", "Candidatos"))
                            .CustomFilterAjax("getFiltersCandidatos")
                            .PrimaryKey(m => m.CandidatoId.ToString())
                            .AddPrimaryKeyToName(false)
                            .Paginable()
                            .PageSize(nElem)
                            .InitialPage(pagina)
                            .Columns(columns =>
                            {
                                columns.Bound(c => c.Nombres).Header(Resources.HTML_Candidatos_Index_NombreHeader).ColumnName("Nombre").Orderable(true);
                                columns.Bound(c => c.Apellidos).Header(Resources.HTML_Candidatos_Index_ApellidosHeader).ColumnName("Apellidos").Orderable(true);
                                columns.Bound(c => c.NumeroIdentificacion).Header(Resources.HTML_Candidatos_Index_IdentificacionHeader).ColumnName("Identificacion").Orderable(true);
                                columns.Bound(c => c.Titulacion).Header(Resources.HTML_Candidatos_Index_TitulacionHeader).ColumnName("Titulacion").Orderable(true);
                                columns.Bound(c => FormatHelper.Format(c.FechaNacimiento, "dd/MM/yyyy")).Header(Resources.HTML_Candidatos_Index_FechaNacimientoHeader).ColumnName("FechaNacimiento").Orderable(true);
                                columns.Bound(c => c.NumCandidaturasAsociadas).Header(Resources.HTML_Candidatos_Index_AsignadoCandidaturasHeader).ColumnName("AsigCandidaturas").Orderable(false);
                                columns.Bound(c => c.Centro).Header(Resources.HTML_Candidatos_Index_CentroHeader).ColumnName("Centro").Orderable(true);
                                columns.Bound(c => c.NivelIdioma).Header(Resources.HTML_Candidatos_Index_InglesHeader).ColumnName("NivelIdioma").Orderable(false);
                                columns.Template(
            @<div>
                <a title="@Resources.HTML_Title_VerCandidato">@Display.GlyphiconButton("glyphicon-eye-open icon action")</a>
                <a title="@Resources.HTML_Title_Editar">@Display.GlyphiconButton("glyphicon-pencil icon action")</a>
                <a title="@Resources.HTML_Title_Eliminar">@Display.GlyphiconButton("glyphicon-trash icon action")</a>
            </div>).Header(Resources.HTML_Candidatos_Index_AccionesHeader);
      });

@Html.Partial("Controls/DataTable", config)

<div class="paginacionIn">
    <p>@Resources.HTML_Candidatos_Index_TotalCandidatos <span id="tempdataCandidatos"></span></p>
</div>
                    }
                </div>
            </div>
        </div>
    </div> <!-- End content-box-content -->
</div> <!-- End .content-box -->
@Html.Partial("~/Views/Candidatos/Modals/_ModalTablaCandidaturas.cshtml")
@Html.Partial("~/Views/Candidatos/Modals/_ModalTablaBecarios.cshtml")

@section scripts{

    @CandidatosFrontActions.MenuFrontActions()
    @CandidatosFrontActions.IndexFrontActions(Url, nUsuario, tiempoExpiracionCookie)
}


