@using RecruitingWeb.Helpers
@using RecruitingWeb.Properties

@model Recruiting.Application.Becarios.ViewModels.BecarioDatosPracticasViewModel

<div class="content-box">
    <div class="row section-header">
        <div class="col-lg-12">
            <h4>@Resources.HTML_Becarios_Practicas_DatosPracticas </h4>
        </div>
    </div>
    <div class="content-box-content">
        <div class="row form-row">
            <div class="form-group col-lg-4">
                <div class="col-lg-12 title-form">
                    <label>@Resources.HTML_Becarios_Practicas_DecisionFinal</label>
                </div>
                <div class="col-lg-12 content-form">
                    @{
                        if (string.IsNullOrEmpty(Model.DecisionFinalNombre))
                        {
                            @Resources.HTML_General_CampoVacio_Details_NA
                        }
                        else
                        {
                            @Model.DecisionFinalNombre
                        }
                    }
                </div>
            </div>
            <div class="form-group col-lg-4">
                <div class="col-lg-12 title-form">
                    <label>@Resources.HTML_Becarios_Practicas_ObservacionFinal</label>
                </div>
                <div class="col-lg-12 content-form">
                    @{
                        if (string.IsNullOrEmpty(Model.ObservacionFinalPracticas) || string.IsNullOrWhiteSpace(Model.ObservacionFinalPracticas))
                        {
                            @Resources.HTML_General_CampoVacio_Details_NA
                        }
                        else
                        {
                            @Html.Raw(Model.ObservacionFinalPracticas)
                        }
                    }
                </div>
            </div>
            <div class="form-group col-lg-4">
                <div class="col-lg-12 title-form">
                </div>
            </div>
        </div>
    </div>
</div>

