@using RecruitingWeb.Properties
@using Recruiting.Application.Usuarios.ViewModels

@model Recruiting.Application.Becarios.ViewModels.CreateEditBecarioViewModel

@{
    var usuarioViewModel = (UsuarioRolPermisoViewModel)HttpContext.Current.Session["Usuario"];
    var centroIdUsuario = usuarioViewModel.CentroIdUsuario;
}

<div class="row titlePage">
    <div class="col-lg-6">
        <h3>@Resources.HTML_Becarios_Index_GestionBecarios</h3>
    </div>
</div>

<div class="row header-flap">
    <div class="btn-group" role="group">
        <a href="@Url.Action("Volver", "Becarios")" class="btn btn-default">
            <span class="text">@Resources.HTML_BotonGenericoVolver</span>
        </a>
        <a href="#" data-action="finalizar" class="btn btn-default">
            <span class="text">@Resources.HTML_BotonGenericoFinalizar</span>
        </a>
    </div>
    <div class="col-lg-6 removePadding">
        <h4 class="noMargin headerBox">@Resources.HTML_Becarios_Create_CreandoBecario</h4>
    </div>
</div>

@using (Html.BeginForm("Create", "Becarios", FormMethod.Post, new Dictionary<string, object> { { "role", "form" }, { "data-parsley-validate", "true" }, { "enctype", "multipart/form-data" } }))
{
    @Edit.Hidden("guardar", "SubmitType")
    @Edit.Hidden(Model.BecarioId ?? null, "BecarioId")    
    @Html.Partial("~/Views/Becarios/Partials/Create/_DatosBasicos.cshtml", Model.BecarioDatosBasicos)
}

@Html.Partial("~/Views/Becarios/Modals/_ModalBusquedaCandidato.cshtml", Model.BecarioDatosBasicos)
@Html.Partial("~/Views/Becarios/Modals/_ModalBusquedaCentro.cshtml")
@Html.Partial("~/Views/Becarios/Modals/_ModalBusquedaConvocatoria.cshtml")
@Html.Partial("~/Views/Becarios/Modals/_ModalCrearEditCentros.cshtml")
@Html.Partial("~/Views/Becarios/Modals/_ModalCrearEditConvocatorias.cshtml")

@section scripts{
    @BecariosFrontActions.MenuFrontActions()
    @BecariosFrontActions.DatosBasicosFrontActions(Url)
    @BecariosFrontActions.CreateFrontActions(Url)
    @BecariosFrontActions.ForTable()
}