@using RecruitingWeb.Properties

<div class="modal fade" id="myModal">
    <div class="modal-dialog modalBusquedaDialogo">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-6 text-left">
                        <h4 class="modal-title tituloModal">
                            @Resources.HTML_Bitacoras_ModalAddComentario_AniadirBitacora
                        </h4>
                    </div>
                    <div class="col-lg-6 text-right">
                        <button type="button" class="btnCloseModal" data-dismiss="modal">@Display.GlyphiconButton("glyphicon-remove")</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-filter" id="form-filter">
                    <div class="row" data-id="formFilter">
                        <div class="col-lg-12 title-form">
                            <label for="MotivosObservaciones">@Resources.HTML_Bitacoras_ModalAddComentario_Mensaje</label>
                        </div>
                        <!--Editor-->
                        <div class="col-lg-12">
                            @Edit.TextArea(Model.MensajeSistema, name: "MensajeSistema", id: "MensajeSistema", rows: 5, required: false, htmlClass: "form-control")
                        </div>
                        <!--Fin editor-->
                    </div>
                </div> <!-- End form-filter  -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="BtnBitacoraseBecario">@Resources.HTML_BotonGenericoGuardar</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div><!-- /.modal -->
