@using RecruitingWeb.Properties
@using RecruitingWeb.Components.Searchable

@using Recruiting.Application.Candidaturas.Enums
@using Recruiting.Application.Centros.Enums

@model Recruiting.Application.Candidaturas.ViewModel.AgendarSegundaEntrevistaViewModel
@{
    string EntrevistadorId = Model.AccessAgendar2 ?? "";
    EntrevistadorId = EntrevistadorId + "EntrevistadorId";
    var oficinas = (IEnumerable<SelectListItem>)HttpContext.Current.Session["OficinaIdCentroUsuario"];
    int centroId = (int)HttpContext.Current.Session["CentroIdUsuario"];

    var oficina = (Model.AgendarSegundaEntrevista.OficinaId.HasValue) ? Model.AgendarSegundaEntrevista.OficinaId.Value.ToString() : "";
    if (!oficinas.Any(x => x.Value == oficina))
    {
        oficina = "";
    }
    var salas = new List<SelectListItem>();
    string isReadonly = "";


    Dictionary<string, string> atribrutoDeshabilitar = new Dictionary<string, string>() { };
    if (Model.AccessEtapa != (int)TipoEtapaCandidaturaEnum.AgendarSegundaEntrevista)
    {
        atribrutoDeshabilitar.Add("disabled", "disabled");
        isReadonly = "readonly";
    }
}
<div class="row form-row">
    <div class="form-group col-lg-4">
        <div class="col-lg-12 title-form">
            <label for="EntrevistadorId">@Resources.HTML_Candidaturas_AgendarSegundaEntrevista_Entrevistador</label>
        </div>
        <div class="col-lg-12">
            @(Html.Searchable(EntrevistadorId, Url)
                                                .Id(EntrevistadorId)
                                                .AddCssClass("form-control required")
                                                .Action("GetUsuariosEntrevistadoresByNombreUsuario", "Admin")
                                                .Value(Model.AgendarSegundaEntrevista.EntrevistadorName, Model.AgendarSegundaEntrevista.EntrevistadorId.ToString(), isReadonly)
                                                .Required(true))
        </div>
    </div>
    <div class="form-group col-lg-4">
        <div class="col-lg-12 title-form">
            <label for="FechaSegundaEntrevista">@Resources.HTML_Candidaturas_AgendarSegundaEntrevista_FechaSegundaEntrevista</label>
        </div>
        <div class="col-lg-12">
            @Edit.DateTime(Model.AgendarSegundaEntrevista.FechaEntrevista, @Model.AccessAgendar2 + "FechaEntrevista", "FechaSegundaEntrevista", validate: true, required: true, isReadOnly: Model.AccessEtapa != (int)TipoEtapaCandidaturaEnum.AgendarSegundaEntrevista, htmlClass: "form-control")
        </div>
    </div>
    <div class="form-group col-lg-4 pt-25">
        <div class="col-lg-4 title-form">
            <label>@Resources.HTML_Candidaturas_AgendarSegundaEntrevista_Presencial</label>
        </div>
        <div class="col-lg-8">
            @Edit.CheckBoxDig(value: Model.AgendarSegundaEntrevista.Presencial, name: Model.AccessAgendar2 + "Presencial", id: "Presencial", required: false, disabled: false)
        </div>
    </div>
</div>
<div class="row form-row">
    <div class="form-group col-lg-4 pt-22">
        <div class="col-lg-6 title-form">
            <label for="AvisarAlCandidato">@Resources.HTML_Candidaturas_AgendarSegundaEntrevista_NotificarEntrevistaCandidato</label>
        </div>
        <div class="col-lg-6">
            @Edit.CheckBoxDig(value: Model.AgendarSegundaEntrevista.AvisarAlCandidato, name: Model.AccessAgendar2 + "AvisarAlCandidato", id: "AvisarAlCandidatoEntrevistaPrincial", required: false, disabled: false)
        </div>
    </div>
    <div class="form-group col-lg-4" id="ocultarPlantilla">
        <div class="col-lg-12 title-form">
            <label for="Oficina">@Resources.HTML_Candidaturas_AgendarPrimeraEntrevista_PlantillaCorreos</label>
        </div>
        <div class="col-lg-12">
            @Edit.DropDownExtend(Model.AgendarSegundaEntrevista.OficinaId, Model.AccessAgendar2 + "OficinaId", oficinas, htmlClass: "form-control ", validate: false, required: false, id: "Oficina", showEmptyOption: false, comboAttributes: atribrutoDeshabilitar)
        </div>
    </div>
</div>

    <div class="row form-row" id="regionMeetings">
        <div class="form-group col-lg-5">
            <div class="col-lg-12 title-form">
                <label for="NombreSala">@Resources.HTML_Candidaturas_AgendarEntrevista_NombreSala</label>
            </div>
            <div class="col-lg-12">
                @Edit.DropDownExtend("", "nombreSala", salas, htmlClass: "col-lg-12 form-control ", validate: true, required: false, id: "SalasId", showEmptyOption: false, comboAttributes: atribrutoDeshabilitar)
            </div>
        </div>
        <div class="form-group col-lg-3 pt-22">
            <div class="col-lg-6 title-form">
                <label for="IgnorarDispEntrevistador">@Resources.HTML_Candidaturas_AgendarEntrevista_IgnorarEntrevistador</label>
            </div>
            <div class="col-lg-6">
                @Edit.CheckBoxDig(false, "IgnorarDispEntrevistador", "IgnorarDispEntrevistador", false, false)
            </div>
        </div>
        <div class="form-group col-lg-4 pt-22">
            <div class="form-group col-lg-12">
                <button class="btn btn-default" title="@Resources.HTML_Candidaturas_AgendarEntrevista_BuscarSala" id="buscarSalasButton" type="button">@Resources.HTML_Candidaturas_AgendarEntrevista_BuscarSala</button>
                <button class="ml-5 btn btn-default" title="Enviar convocatoria" id="enviarConvocatoriaButton" type="button">@Resources.HTML_Candidaturas_AgendarEntrevista_EnviarConvocatoria</button>
            </div>
        </div>
    </div>

