@using RecruitingWeb.Properties

@model Recruiting.Application.Candidaturas.ViewModel.AgendarSegundaEntrevistaViewModel

@{
    int nSubEntrevistas = (int)HttpContext.Current.Session["NumeroSubEntrevistas"];
}
<div class="row">
    <div class="content-box border-top-cero">
        <div class="content-box-content">
            <div class="section-form-entrevista1" data-id="section-form-entrevista2">
                @Html.Partial("~/Views/Candidaturas/Partials/Ejecutar/Entrevista/SegundaEntrevista/_AgendarSegundaEntrevista.cshtml", Model)
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="content-box">
        <div class="content-box-content">
            <div class="row section-header">
                <div class="col-lg-6">
                    <h4>@Resources.HTML_SubentrevistasParaSegundaEntrevista (@Resources.HTML_MaximoSubEntrevistas @(nSubEntrevistas))</h4>
                </div>
            </div>
            <div class="content-box-content">
                <div class="section-form-subentrevista1" data-id="section-form-subentrevista1">
                    @Html.Partial("~/Views/Candidaturas/Partials/Ejecutar/Entrevista/SegundaEntrevista/_AgendarSubEntrevistasSegundaEntrevista.cshtml", Model)
                </div>
            </div>
        </div> <!-- End .content-box -->
    </div> <!--End .Row-->
</div>
