@using RecruitingWeb.Helpers
@using RecruitingWeb.Properties
@using RecruitingWeb.Components.DataTable.Helpers

@using Recruiting.Application.PersonasLibres.ViewModels

@model RecruitingWeb.Models.FiltroEmpleadosFenixModels

@Html.ScriptBlock(
    @<script type="text/javascript">
         registerCallback(function () {
             var originalFilter = getFiltersEmpleadosFenix();
             var filter = GetFilterForSearchableTable(originalFilter);
             $('#tablaEmpleadosFenix').data("filters", filter);
         });
    </script>
)

@{
    var categoriaLineaCelda = (PersonasLibresListCategoriaLineaCeldaviewModel)HttpContext.Current.Session["CategoriaLineaCelda"];
}

<div class="row titlePage">
    <div class="col-lg-6">
        <h3>@Resources.HTML_PersonasLibres_Create_EleccionEmpleadosFenix</h3>
    </div>
</div>
<div class="row header-flap">
    <!-- header-flap menu -->
    <div class="btn-group" role="group">
        <a href="@Url.Action("Volver", "PersonasLibres")" class="btn btn-default">
            <span class="text">@Resources.HTML_BotonGenericoVolver</span>
        </a>
        @if ((bool)TempData["Actualizar Categoria/Linea/Celda en Recruiting BD"] == true) //viene del metodo PermisosMostrar() del controlador
        {
            <a class="btn btn-default" id="botonActualizarBd">
                <span class="text">@Resources.HTML_PersonasLibres_Create_ActualizarListas</span>
            </a>
        }
        <a href="#" data-action="finalizar" class="btn btn-default">
            <span class="text">@Resources.HTML_BotonGenericoFinalizar</span>
        </a>
    </div>
    <!-- End header-flap menu-->
    <div class="col-lg-6 removePadding">
        <h4 class="noMargin headerBox">@Resources.HTML_PersonasLibres_Index_Filtro</h4>
    </div>
</div>
<div class="row">
    <div class="content-box border-top-cero">
        <!-- Start Content Box -->
        <div class="content-box-content" id="form-filter">
            <!-- Start form-filter  -->
            <div class="row" data-id="formFilter">
                <input id="buscar" class="hidden" />
                <div class="form-group col-lg-4">
                    <div class="col-lg-12 title-form">
                        <label for="NumeroEmpleado">@Resources.HTML_PersonasLibres_Create_NumeroEmpleado</label>
                    </div>
                    <div class="col-lg-12">
                        @*@Edit.Text(Model.NumeroEmpleado, "filterNumeroEmpleado", id: "filterNumeroEmpleado", required: false, validate: true, htmlClass: "form-control col-lg-4", maxLength: 10)*@
                        @Edit.Number(Model.NumeroEmpleado, "filterNumeroEmpleado", id: "filterNumeroEmpleado", required: false, validate: true, minValue:"1", htmlClass: "form-control")
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="col-lg-12 title-form">
                        <label for="filterNombre">@Resources.HTML_PersonasLibres_Create_Nombre</label>
                    </div>
                    <div class="col-lg-12">
                        @Edit.Text(Model.Nombre, "filterNombre", id: "filterNombre", required: false, validate: true, htmlClass: "form-control col-lg-4", maxLength: 500)
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="col-lg-12 title-form">
                        <label for="filterApellidos">@Resources.HTML_PersonasLibres_Create_Apellidos</label>
                    </div>
                    <div class="col-lg-12">
                        @Edit.Text(Model.Apellidos, "filterApellidos", id: "filterApellidos", required: false, validate: true, htmlClass: "form-control col-lg-4", maxLength: 500)
                    </div>
                </div>                
            </div>
            <div class="row">
                <div class="form-group col-lg-4">
                    <div class="col-lg-12 title-form">
                        <label for="Categoria">@Resources.HTML_PersonasLibres_Create_Categoria</label>
                    </div>
                    <div class="col-lg-12">
                        @Edit.DropDownExtend(Model.Categoria, "filterCategoria", categoriaLineaCelda.ListCategoria, htmlClass: "form-control col-lg-4", validate: false, required: false, id: "filterCategoria")
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="col-lg-12 title-form">
                        <label for="Linea">@Resources.HTML_PersonasLibres_Create_Linea</label>
                    </div>
                    <div class="col-lg-12">
                        @Edit.DropDownExtend(Model.Linea, "filterLinea", categoriaLineaCelda.ListLinea, htmlClass: "form-control col-lg-4", validate: false, required: false, id: "filterLinea")
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="col-lg-12 title-form">
                        <label for="Celda">@Resources.HTML_PersonasLibres_Create_Celda</label>
                    </div>
                    <div class="col-lg-12">
                        @Edit.DropDownExtend(Model.Celda, "filterCelda", categoriaLineaCelda.ListCelda, htmlClass: "form-control col-lg-4", validate: false, required: false, id: "filterCelda")
                    </div>
                </div>
            </div>
            @if (Model.CentroIdUsuarioLogueado == string.Empty)
            {
            <div class="row">              
                <div class="form-group col-lg-4">
                    <div class="col-lg-12 title-form">
                        <label for="CentroId">@Resources.HTML_PersonasLibres_Create_Centro</label>
                    </div>
                    <div class="col-lg-12">
                        @Edit.DropDownExtend(Model.CentroIdUsuario, "filterCentro", Model.CentroList, htmlClass: "form-control col-lg-4", validate: false, required: false, id: "filterCentro")
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="col-lg-12 title-form">                        
                    </div>
                    <div class="col-lg-12">
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="col-lg-12 title-form">                        
                    </div>
                    <div class="col-lg-12">
                    </div>
                </div>
            </div>
            }
            <input id="filterBuscarEmpleadoFenix" name="filterBuscarEmpleadoFenix" hidden />
            <div class="row">
                <div class="col-lg-12" style="text-align:right;">
                    <div class="btn-group" role="group" aria-label="...">
                        <button name="limpiar" id="limpiar" type="button" class="btn btn-default">@Resources.HTML_BotonGenericoLimpiar</button>
                        <button name="buscar" type="button" class="btn btn-default">@Resources.HTML_BotonGenericoBuscar</button>
                    </div>
                </div>
            </div>
        </div> <!-- End .content-box-content #form-filter -->
    </div> <!-- End .content-box -->
</div> <!-- End .row -->
<!-- Load Data EmpleadosFenix  -->
@using (Html.BeginForm("CreatePersonasLibres", "PersonasLibres", FormMethod.Post, new Dictionary<string, object> { { "class", "form-horizontal" }, { "role", "form" }, { "data-parsley-validate", "true" }, { "data-parsley-excluded", ":not([data-validate]) , [disabled]" } }))
{
    @Edit.Hidden("guardar", "SubmitType")
    @Edit.Hidden(Model.NumeroEmpleado, "NroEmpleado")

    <div id="tabla" name="tabla">
        <div class="content-box">
            <div class="content-box-content">
                <div class="row">
                    <div class="col-lg-12" style="text-align:right; padding-bottom: 10px;">
                        <span>&nbsp;</span>
                    </div>
                    <div class="col-lg-12">
                        @{

                            int pagina = Model.Pagina ?? 0;
                            var config = Html.InitializeDataTable<EmpleadoFenixRowViewModel>();
                            int nElem = Convert.ToUInt16(Resources.NElementosPagina);
                            config.Name("tablaEmpleadosFenix")
                                .AjaxLoadUrl(Url.Action("LoadEmpleadosFenix", "PersonasLibres"))
                                .CustomFilterAjax("getFiltersEmpleadosFenix")
                                .PrimaryKey(m => m.NroEmpleado.ToString())
                                .AddPrimaryKeyToName(false)
                                .Paginable()
                                .PageSize(nElem)
                                .InitialPage(pagina)
                                .Columns(columns =>
                                {
                                    columns.Bound(c => c.NroEmpleado).Header(Resources.HTML_PersonasLibres_Create_NumeroEmpleadoHeader).ColumnName("NroEmpleado").Orderable(true);
                                    columns.Bound(c => c.Nombre).Header(Resources.HTML_PersonasLibres_Create_NombreHeader).ColumnName("Nombre").Orderable(true);
                                    columns.Bound(c => c.Apellidos).Header(Resources.HTML_PersonasLibres_Create_ApellidosHeader).ColumnName("Apellidos").Orderable(true);
                                    columns.Bound(c => c.Categoria).Header(Resources.HTML_PersonasLibres_Create_CategoriaHeader).ColumnName("Categoria").Orderable(false);
                                    columns.Bound(c => c.Linea).Header(Resources.HTML_PersonasLibres_Create_LineaHeader).ColumnName("Linea").Orderable(true);
                                    columns.Bound(c => c.Linea).Header(Resources.HTML_PersonasLibres_Create_CeldaHeader).ColumnName("Celda").Orderable(true);

                                    columns.Template(@<div>
                <a class="glyphicon glyphicon glyphicon-list-alt icon action" title="@Resources.HTML_Title_PersonasLibres"></a>
            </div>).Header("#");
                          });
                    @Html.Partial("Controls/DataTable", config)

                    <div class="paginacionIn">
                        <p>@Resources.HTML_PersonasLibres_Create_TotalEmpleadosFenix <span id="tempdataEmpleadosFenix" class="tempdataTotalRegistros"></span></p>
                    </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts{

    @PersonasLibresFrontActions.MenuFrontActions()
    @PersonasLibresFrontActions.ForTable()
    @PersonasLibresFrontActions.CreateFrontActions(Url)
}


