@using RecruitingWeb.Components.DataTable.Helpers
@using RecruitingWeb.Helpers
@using Recruiting.Application.BitacorasBecarios.ViewModels
@using RecruitingWeb.Properties

@model RecruitingWeb.Models.FiltroBitacoraBecarioModels


@Html.ScriptBlock(
    @<script type="text/javascript">
         registerCallback(function () {
             var originalFilter = getFiltersBitacoras();
             var filter = GetFilterForSearchableTable(originalFilter);
             $('#tablaBitacoras').data("filters", filter);
         });
    </script>
                    )

<div class="row titlePage">
    <div class="col-lg-6">
        <h3>@Resources.HTML_Bitacoras_Index_GestionBitacoras</h3>
    </div>
</div>
<div class="row header-flap">
    <div class="btn-group" role="group">
        <a class="btn btn-default" href="@Url.Action("Volver", "Becarios")">
            <span class="text">@Resources.HTML_BotonGenericoVolver</span>
        </a>
        <a class="btn btn-default" data-toggle="modal" data-target="#myModal" id="BtnShowModal">
            <span class="text">@Resources.HTML_Bitacoras_Index_AniadirComentario</span>
            @Edit.Hidden(Model.BecarioId, "BecarioId")
        </a>
    </div>
    <div class="col-lg-6 removePadding">
        <h4 class="noMargin headerBox">@Resources.HTML_Becarios_Datos_Becario @Model.BecarioId</h4>
    </div>
</div>



<div class="row">
    <div class="content-box border-top-cero">
        <div class="content-box-content">
            <div class="form-filter" id="form-filter">
                @Html.Partial("~/Views/BitacorasBecarios/Partials/_DatosBecario.cshtml", Model)
                <div class="row footer">
                </div><!-- End row footer -->
            </div> <!-- End form-filter  -->
        </div>
    </div>
</div>
<!-- Load Data Bitacoras  -->
<div id="tabla" name="tabla">
    <div class="content-box">
        <div class="content-box-content">
            <div class="row form-row">
                <div class="col-lg-12 pt-22">
                    @{
                        int pagina = 0;
                        var config = Html.InitializeDataTable<BitacoraBecariosRowViewModel>();
                        int nElem = Convert.ToUInt16(Resources.NElementosPagina);
                        config.Name("tablaBitacoras")
                        .AjaxLoadUrl(Url.Action("LoadBitacoras", "BitacorasBecarios"))
                        .CustomFilterAjax("getFiltersBitacoras")
                        .PrimaryKey(m => m.BitacoraId.ToString())
                        .AddPrimaryKeyToName(false)
                        .Paginable()
                        .PageSize(nElem)
                        .InitialPage(pagina)
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.BitacoraId).Header(Resources.HTML_Bitacoras_Index_BitacoraHeader).ColumnName("BitacoraId").Orderable(true);
                            columns.Bound(c => c.TipoCambio).Header(Resources.HTML_Bitacoras_Index_TipoHeader).ColumnName("TipoCambio").Orderable(false);

                            columns.Bound(c => c.MensajeSistema).Header(Resources.HTML_Bitacoras_Index_MensajeHeader).ColumnName("MensajeSistema").Orderable(false);
                            columns.Bound(c => c.Usuario).Header(Resources.HTML_Bitacoras_Index_UsuarioHeader).ColumnName("Usuario").Orderable(false);
                            columns.Bound(c => FormatHelper.Format(c.FechaCreacion, "dd/MM/yyyy")).Header(Resources.HTML_Bitacoras_Index_FechaHeader).ColumnName("FechaCreacion").Orderable(true);

                            if (string.IsNullOrWhiteSpace(Model.CentroIdUsuarioLogueado))
                            {
                                columns.Bound(c => c.Centro).Header(Resources.HTML_Bitacoras_Index_CentroHeader).ColumnName("Centro").Orderable(true);
                            }
                        });



                        @Html.Partial("Controls/DataTable", config)

                        <div class="paginacionIn">
                            <p>@Resources.HTML_Bitacoras_Index_TotalBitacoras <span class="tempdataTotalRegistros" id="tempdataBitacoras" /></p>
                        </div>
                    }
                </div>
            </div>
        </div> <!-- End content-box-content -->
    </div> <!-- End .content-box -->
</div>
@Html.Partial("~/Views/BitacorasBecarios/Modal/_ModalAddComentario.cshtml", Model)

@section scripts{
    @BecariosFrontActions.MenuFrontActions()
    @BecariosFrontActions.BitacoraFrontActions(Url)

}




