@using RecruitingWeb.Helpers
@using RecruitingWeb.Components.Searchable
@using RecruitingWeb.Properties

<div class="modal fade" id="modalGenerarDescargarCO">
    <div class="modal-dialog modal-sm modalGenerarDescargar">
        <div class="modal-content tablaCandidaturasCO">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-10 text-left">
                        <h4 class="modal-title tituloModal">
                                @Resources.HTML_Candidaturas_CO
                        </h4>
                    </div>
                    <div class="col-lg-2 text-right">
                        <button type="button" class="btnCloseModal" data-dismiss="modal">@Display.GlyphiconButton("glyphicon-remove")</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                @Html.Hidden("candidaturaIdHidden")
                <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default" id="btnEleccionCartaOferta">@Resources.Boton_Generar</button>
                    </div>
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-3">
                        <button type="button" class="btn btn-default" id="btnDescargarCartaOferta">@Resources.Boton_Descargar</button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
