@using RecruitingWeb.Components.DataTable.Helpers
@using RecruitingWeb.Properties
@using Recruiting.Application.CandidaturasOfertas.ViewModels

<div class="modal fade" id="modalOfertas">
    <div class="modal-dialog modalBusquedaDialogo">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-6 text-left">
                        <h4 class="modal-title tituloModal">
                            @Resources.HTML_Candidaturas_ModalBusquedaOferta_BusquedaOferta
                        </h4>
                    </div>
                    <div class="col-lg-6 text-right">
                        <button type="button" class="btnCloseModal" data-dismiss="modal">@Display.GlyphiconButton("glyphicon-remove")</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div id="form-filterOferta">
                    <!-- Start form-filter  -->
                    <div class="row">
                        <div class="col-lg-12" style="text-align: right; margin-top:5px; margin-bottom:10px;">
                            <div class="btn-group" role="group">
                                <a class="btn btn-default" id="limpiarModalOferta">
                                    <span class="text"> @Resources.HTML_BotonGenericoLimpiar</span>
                                </a>
                                <a class="btn btn-default" id="buscarModalOferta">
                                    <span class="text"> @Resources.HTML_BotonGenericoBuscar</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <div class="col-lg-12 title-form">
                                <label>@Resources.HTML_Candidaturas_ModalBusquedaOferta_Nombre</label>
                            </div>
                            <div class="col-lg-12">
                                @Edit.Text((string)null, "filterNombreOferta", id: "filterNombreOferta", required: false, validate: false, htmlClass: "form-control col-lg-4")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="text-align: right; margin-top:5px;margin-bottom:10px;">
                            <div class="btn-group" role="group">
                                <a class="btn btn-default" id="BtnCreateOferta" data-target="#modalCrearEditOfertas" data-toggle="modal">
                                    <span class="text"> @Resources.HTML_Candidaturas_ModalBusquedaOferta_CrearOferta</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Desechable:  Listado Para Probar ---- var items = new List<RowCandidatoViewModel>() -->
                <!-- Load Data Candidatos  -->
                @{
                    var config = Html.InitializeDataTable<OfertaRowViewModel>();
                    config.Name("tablaOfertas")
                        .AjaxLoadUrl(Url.Action("LoadOfertas", "Candidaturas"))
                        .CustomFilterAjax("getFiltersOfertas")
                        .PrimaryKey(m => m.OfertaId.ToString())
                        .AddPrimaryKeyToName(false)
                        .Paginable()
                        .PageSize(5)
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.NombreOferta).Header(Resources.HTML_Candidaturas_ModalBusquedaOferta_NombreOfertaHeader).ColumnName("Nombre").Orderable(false);
                            columns.Template(@<div></div>).Header(Resources.HTML_Candidaturas_ModalBusquedaOferta_AccionesHeader).CssHeaderClass("text-center");
                        });
                }
                <div class="row">
                    <div class="col-lg-12" style="text-align: right;">
                        <div id="partialTable">
                            @Html.Partial("Controls/DataTable", config)
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="BtnOferta">@Resources.HTML_BotonGenericoSeleccionar</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
