@using RecruitingWeb.Components.DataTable.Helpers
@using RecruitingWeb.Helpers
@using Recruiting.Application.Candidaturas.ViewModel
@using Recruiting.Application.Candidatos.ViewModels
@using RecruitingWeb.Properties

@model Recruiting.Application.Becarios.ViewModels.BecarioDatosBasicosViewModel

<div class="modal fade" id="myModal">
    <div class="modal-dialog modalBusquedaDialogo">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-6 text-left">
                        <h4 class="modal-title tituloModal">
                            @Resources.HTML_Candidaturas_ModalBusquedaCandidato_BusquedaCandidatos
                        </h4>
                    </div>
                    <div class="col-lg-6 text-right">
                        <button type="button" class="btnCloseModal" data-dismiss="modal">@Display.GlyphiconButton("glyphicon-remove")</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-filter filtroModal" id="form-filterCandidato">
                    <!-- Start form-filter  -->
                    <div class="row">
                        <div class="col-lg-12" style="text-align: right; margin-top:5px; margin-bottom:10px;">
                            <div class="btn-group" role="group">
                                <a class="btn btn-default" id="limpiarModalCandidato">
                                    <span class="text"> @Resources.HTML_BotonGenericoLimpiar</span>
                                </a>
                                <a class="btn btn-default" id="buscarModalCandidato">
                                    <span class="text"> @Resources.HTML_BotonGenericoBuscar</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <div class="col-lg-12 title-form">
                                <label>@Resources.HTML_Candidaturas_ModalBusquedaCandidato_Nombre</label>
                            </div>
                            <div class="col-lg-12">
                                @Edit.Text((string)null, "filterNombre", id: "filterNombre", required: false, validate: false, htmlClass: "form-control col-lg-4")
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <div class="col-lg-12 title-form">
                                <label>@Resources.HTML_Candidaturas_ModalBusquedaCandidato_Apellidos</label>
                            </div>
                            <div class="col-lg-12">
                                @Edit.Text((string)null, "filterApellidos", id: "filterApellidos", required: false, validate: false, htmlClass: "form-control col-lg-4")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <div class="col-lg-12 title-form">
                                <label>@Resources.HTML_Candidaturas_ModalBusquedaCandidato_TipoIdentificacion</label>
                            </div>
                            <div class="col-lg-12">
                                @Edit.DropDownExtend((string)null, "filterTipoIdentificacion", Model.TipoIdentificacionList, htmlClass: "form-control col-lg-4", validate: false, required: false, id: "filterTipoIdentificacion")
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <div class="col-lg-12 title-form">
                                <label>@Resources.HTML_Candidaturas_ModalBusquedaCandidato_NumeroIdentificacion</label>
                            </div>
                            <div class="col-lg-12">
                                @Edit.Text((string)null, "filterNumIdentificacion", id: "filterNumIdentificacion", required: false, validate: true, htmlClass: "form-control col-lg-4")
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <div class="col-lg-12 title-form">
                                <label>@Resources.HTML_Candidaturas_ModalBusquedaCandidato_Email</label>
                            </div>
                            <div class="col-lg-12">
                                @Edit.Text((string)null, "filterEmail", htmlClass: "form-control col-lg-4", validate: false, required: false, id: "filterEmail")
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <div class="col-lg-12 title-form">
                                <label>@Resources.HTML_Candidaturas_ModalBusquedaCandidato_Telefono</label>
                            </div>
                            <div class="col-lg-12">
                                @Edit.Text((string)null, "filterTelefono", htmlClass: "form-control col-lg-4", validate: false, required: false, id: "filterEmail")
                            </div>
                        </div>
                    </div>
                </div> <!-- End form-filter  -->
                <!-- Desechable:  Listado Para Probar ---- var items = new List<RowCandidatoViewModel>() -->
                <!-- Load Data Candidatos  -->
                @{
                    var config = Html.InitializeDataTable<CandidatoRowViewModel>();
                    config.Name("tablaCandidatos")
                        .AjaxLoadUrl(Url.Action("LoadCandidatos", "Becarios"))
                        .CustomFilterAjax("getFiltersCandidatosBecarios")
                        .PrimaryKey(m => m.CandidatoId.ToString())
                        .AddPrimaryKeyToName(false)
                        .Paginable()
                        .PageSize(5)
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.Nombres).Header(Resources.HTML_Candidaturas_ModalBusquedaCandidato_NombresHeader).ColumnName("Nombre").Orderable(true);
                            columns.Bound(c => c.Apellidos).Header(Resources.HTML_Candidaturas_ModalBusquedaCandidato_ApellidosHeader).ColumnName("Apellidos").Orderable(true);
                            columns.Bound(c => c.Centro).Header(Resources.HTML_Candidaturas_ModalBusquedaCandidato_CentroHeader).ColumnName("Centro").Orderable(true);
                            columns.Bound(c => c.NumeroIdentificacion).Header(Resources.HTML_Candidaturas_ModalBusquedaCandidato_NumeroIdentificacionHeader).ColumnName("NumeroIdentificacion").Orderable(true);
                            columns.Template(@<div></div>).Header(Resources.HTML_Candidaturas_ModalBusquedaCandidato_SeleccionarHeader).CssHeaderClass("text-center");
                        });
                }
                <div class="row">
                    <div class="col-lg-12" style="text-align: right;">
                        <div id="partialTable">
                            @Html.Partial("Controls/DataTable", config)
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="BtnCandidato">@Resources.HTML_BotonGenericoSeleccionar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
