@using RecruitingWeb.Properties
@using RecruitingWeb.Components.Searchable

@using Recruiting.Application.Centros.Enums
@using Recruiting.Application.Candidaturas.Enums

@model Recruiting.Application.Candidaturas.ViewModel.AgendarPrimeraEntrevistaViewModel
@{

    string EntrevistadorId = Model.AccessAgendar1 ?? "";
    EntrevistadorId = EntrevistadorId + "EntrevistadorId";
    var oficinas = (IEnumerable<SelectListItem>)HttpContext.Current.Session["OficinaIdCentroUsuario"];

    var oficina = (Model.AgendarPrimeraEntrevista.OficinaId.HasValue) ? Model.AgendarPrimeraEntrevista.OficinaId.Value.ToString() : "";
    if (!oficinas.Any(x => x.Value == oficina))
    {
        oficina = "";
    }

    string isReadonly = "";
    int centroId = (int)HttpContext.Current.Session["CentroIdUsuario"];
    
}

<div class="row form-row">
    <div class="form-group col-lg-4">
        <div class="col-lg-12 title-form">
            <label for="EntrevistadorId">@Resources.HTML_Candidaturas_AgendarPrimeraEntrevista_Entrevistador</label>
        </div>
        <div class="col-lg-12">
            @(Html.Searchable(EntrevistadorId, Url)
                                .Id(EntrevistadorId)
                                .AddCssClass("form-control")
                                .Action("GetUsuariosEntrevistadoresByNombreUsuario", "Admin")
                                .Value(Model.AgendarPrimeraEntrevista.EntrevistadorName, Model.AgendarPrimeraEntrevista.EntrevistadorId.ToString(), isReadonly)
                                .Required(true))

        </div>
    </div>
    <div class="form-group col-lg-4">
        <div class="col-lg-12 title-form">
            <label for="FechaPrimeraEntrevista">@Resources.HTML_Candidaturas_AgendarPrimeraEntrevista_FechaPrimeraEntrevista</label>
        </div>
        <div class="col-lg-12">
            @Edit.DateTime(Model.AgendarPrimeraEntrevista.FechaEntrevista, Model.AccessAgendar1 + "FechaEntrevista", "FechaPrimeraEntrevista", validate: true, required: true, htmlClass: "form-control")
        </div>
    </div>
    <div class="form-group col-lg-4 pt-25">
        <div class="col-lg-4 title-form">
            <label>@Resources.HTML_Candidaturas_AgendarPrimeraEntrevista_Presencial</label>
        </div>
        <div class="col-lg-8">
            @Edit.CheckBoxDig(value: Model.AgendarPrimeraEntrevista.Presencial, name: Model.AccessAgendar1 + "Presencial", id: "Presencial", required: false, disabled: false)
        </div>
    </div>
</div>
<div class="row form-row">
    <div class="form-group col-lg-4 pt-22">
        <div class="col-lg-6 title-form">
            <label for="AvisarAlCandidato">@Resources.HTML_Candidaturas_AgendarPrimeraEntrevista_NotificarEntrevistaCandidato</label>
        </div>
        <div class="col-lg-6">
            @Edit.CheckBoxDig(value: Model.AgendarPrimeraEntrevista.AvisarAlCandidato, name: Model.AccessAgendar1 + "AvisarAlCandidato", id: "AvisarAlCandidatoEntrevistaPrincial", required: false, disabled: false)
        </div>
    </div>
    <div class="form-group col-lg-4" id="ocultarPlantilla">
        <div class="col-lg-12 title-form">
            <label for="Oficina">@Resources.HTML_Candidaturas_AgendarPrimeraEntrevista_PlantillaCorreos</label>
        </div>
        <div class="col-lg-12">            
                @Edit.DropDownExtend(oficina, Model.AccessAgendar1 + "OficinaId", oficinas, htmlClass: "form-control ", validate: false, required: false, id: "Oficina", showEmptyOption: false, isReadOnly: true)
        </div>
    </div>
</div>

