@using RecruitingWeb.Properties

@model Recruiting.Application.Candidaturas.ViewModel.PrimeraEntrevistaViewModel

<div class="row titlePage">
    <div class="col-lg-6">
        <h3>@Resources.HTML_Candidaturas_CompletarPrimeraEntrevista_FeedbackEntrevistas - @Model.AgendarPrimeraEntrevista.AgendarPrimeraEntrevista.NombreCandidato</h3>
    </div>
</div>
<div class="row header-flap">    
    <div class="btn-group" role="group">
        <a href="@Url.Action("Volver", "Candidaturas")" class="btn btn-default">
            <span class="text">@Resources.HTML_BotonGenericoVolver</span>
        </a>
        <a href="#" data-action="aniadirSubEntrevista" class="btn btn-default">
            <span class="text">@Resources.HTML_Candidaturas_CompletarPrimeraEntrevista_AniadirSubentrevista</span>
        </a>
        <a href="#" data-action="guardar" class="btn btn-default">
            <span class="text">@Resources.HTML_BotonGenericoGuardar</span>
        </a>
        <a href="#" data-action="finalizar" class="btn btn-default">
            <span class="text">@Resources.HTML_BotonGenericoFinalizar</span>
        </a>
    </div>    
    <div class="col-lg-6 removePadding">
        <h4 class="noMargin headerBox">@Resources.HTML_Candidaturas_CompletarPrimeraEntrevista_DatosEntrevistaPrincipal</h4>
    </div>
</div>
@using (Html.BeginForm("CompletarPrimeraEntrevista", "Candidaturas", FormMethod.Post, new Dictionary<string, object> { { "role", "form" }, { "data-parsley-validate", "true" }, { "enctype", "multipart/form-data" }, { "data-parsley-excluded", ":not([data-validate]) , [disabled]" } }))
{
    @Edit.Hidden("guardar", "SubmitType")
    @Edit.Hidden(Model.AgendarPrimeraEntrevista.AgendarPrimeraEntrevista.CandidaturaId, "AgendarPrimeraEntrevista.AgendarPrimeraEntrevista.CandidaturaId", attributes: new Dictionary<string, string> { { "id", "CandidaturaId" } })
      
    @Html.Partial("~/Views/Candidaturas/Partials/Ejecutar/Entrevista/PrimeraEntrevista/CompletarPrimeraEntrevista.cshtml", Model)
}

@Html.Partial("~/Views/Candidaturas/Modal/_ModalAniadirSubEntrevista.cshtml", Model.AgendarPrimeraEntrevista)
@section scripts{
    @CandidaturasFrontActions.MenuFrontActions()
    @CandidaturasFrontActions.CompletarPrimeraEntrevistaPartialFrontActions()
    @CandidaturasFrontActions.CompletarPrimeraEntrevistaFrontActions(Url, Model)
}