@using RecruitingWeb.Helpers
@using RecruitingWeb.Properties

@using Recruiting.Application.Usuarios.ViewModels

@model Recruiting.Application.Candidaturas.ViewModel.SubEntrevistaListViewModel

@{
    var vengoDeCandidaturas = (Model.VengoDeCandidaturas == true && Model.VengoDeCandidaturas != null) ? "true" : "false";
    var entrevistaId = Model.SubEntrevistaList[0].EntrevistaId.Value;
    int nSubEntrevistas = (int)HttpContext.Current.Session["NumeroSubEntrevistas"];
    var roles = (UsuarioRolPermisoViewModel)HttpContext.Current.Session["Usuario"];

    var disabled = (Model.Editar) ? "" : "disabled";

    var expRegularDecimal = System.Configuration.ConfigurationManager.AppSettings["expRegularDecimal"];

    string htmlMoneda = FormatHelper.GetHtmlMoneda(Model.Moneda);
}

<div class="row titlePage">
    <div class="col-lg-6">
        @if (Model.TipoEntrevista != 2)
        {
        <h3>@Resources.HTML_Candidaturas_VerEditarSubEntrevistas_FeedbackSubentrevistas - @Model.NombreCandidato</h3>
        }
        else
        {
        <h3>@Resources.HTML_Candidaturas_VerEditarSubEntrevistas_FeedbackSubentrevistasEntrevista @Model.TipoEntrevista.ToString() - @Model.NombreCandidato</h3>
        }
    </div>
</div>
<div class="row header-flap">
    <div class="btn-group" role="group">
        <a href="#" id="btnVolver" class="btn btn-default">
            <span class="text">@Resources.HTML_BotonGenericoVolver</span>
        </a>
        <a href="#" id="btnGuardar" class="btn btn-default">
            <span class="text">@Resources.HTML_BotonGenericoGuardar</span>
        </a>
    </div>
</div>

@using (Html.BeginForm("SaveSubEntrevistas", "Candidaturas", FormMethod.Post, new Dictionary<string, object> { { "id", "formId" }, { "role", "form" }, { "data-parsley-validate", "true" }, { "data-parsley-excluded", ":not([data-validate]) , [disabled]" } }))
{
    @Html.Hidden("TipoEntrevista", Model.TipoEntrevista);
    @Html.Hidden("Editar", Model.Editar);
    @Html.Hidden("CandidaturaId", Model.CandidaturaId);
    for (int x = 0; x < Model.SubEntrevistaList.Count; x++)
    {
        if (Model.SubEntrevistaList[x].EntrevistadorName != null)
        {
            var cadenaAux = "SubEntrevistaList[" + x + "].";
            var idAux = "Persona_" + x;
            var idAuxBotonColapsar = "Boton_" + x;
            var dataIdTarget = "[data-id=" + x + "]";
            @Html.Hidden(cadenaAux + "SubEntrevistaId", Model.SubEntrevistaList[x].SubEntrevistaId);
            @Html.Hidden(cadenaAux + "EntrevistadorId", Model.SubEntrevistaList[x].EntrevistadorId);
            @Html.Hidden(cadenaAux + "EntrevistadorName", Model.SubEntrevistaList[x].EntrevistadorName);
            @Html.Hidden(cadenaAux + "EntrevistaId", Model.SubEntrevistaList[x].EntrevistaId);
            @Html.Hidden(cadenaAux + "FechaSubEntrevista", Model.SubEntrevistaList[x].FechaSubEntrevista);
            @Html.Hidden(cadenaAux + "Activo", Model.SubEntrevistaList[x].Activo);
            <div class="row">
                <div class="content-box">
                    <div class="content-box-content">
                        <div class="row section-header" style="padding-top:0px">
                            <div class="col-lg-6">
                                <h4>@((x + 1).ToString()). Entrevistador: @(Model.SubEntrevistaList[x].EntrevistadorName). &nbsp&nbsp&nbsp Fecha: @Model.SubEntrevistaList[x].FechaSubEntrevista</h4>
                            </div>   
                            <div class="col-lg-2"></div>
                            <div class="col-lg-3" style="padding-left:60px">
                                <div class="col-lg-6 title-form">
                                    <label>@Resources.HTML_Candidaturas_VerEditarSubEntrevistas_Completada</label>
                                </div>
                                <div class="col-lg-6">
                                    @Edit.CheckBoxDig(value: Model.SubEntrevistaList[x].Completada, name: cadenaAux + "Completada", id: "Completada_" + x, disabled: !(Model.Editar), required: false)
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <a href="#" name='btnBorrar' class="btn btn-default">
                                    <span class="text">Borrar</span>
                                </a>
                            </div>
                        </div>
                        <div data-id='@x'>
                            <div data-id="section-form-basicos" class="section-form-entrevista">
                                <div class="row form-row">
                                    <div class="form-group col-lg-4">
                                        <div class="col-lg-12 title-form">
                                            <label for="TipoSubEntrevistaId">@Resources.HTML_Candidaturas_VerEditarSubEntrevistas_EntrevistaTipo</label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Edit.DropDownExtend(Model.SubEntrevistaList[x].TipoSubEntrevistaId, cadenaAux + "TipoSubEntrevistaId", Model.TipoSubEntrevistaList, required: true, htmlClass: "form-control", id: "TipoSubEntrevistaId" + x, disabled: !(Model.Editar))
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 pt-22">
                                        <div class="col-lg-4 title-form">
                                            <label>@Resources.HTML_Candidaturas_VerEditarSubEntrevistas_Presencial</label>
                                        </div>
                                        <div class="col-lg-8">
                                            @Edit.CheckBoxDig(value: Model.SubEntrevistaList[x].Presencial, name: cadenaAux + "Presencial", id: "Presencial" + x, disabled: !(Model.Editar), required: false)
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 pt-22">
                                        <div class="col-lg-7 title-form">
                                            <label for="AvisarAlCandidato">@Resources.HTML_Candidaturas_VerEditarSubEntrevistas_NotificarCandidatoAutomaticamente</label>
                                        </div>
                                        <div class="col-lg-5">
                                            @Edit.CheckBoxDig(value: Model.SubEntrevistaList[x].AvisarAlCandidato, name: cadenaAux + "AvisarAlCandidato", id: "AvisarAlCandidato" + x, disabled: !(Model.Editar), required: false)
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="form-group col-lg-4">
                                        <div class="col-lg-12 title-form">
                                            <label for="SalarioPropuesto">@Resources.HTML_Candidaturas_VerEditarSubEntrevistas_SalarioPropuesto</label>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="inner-addon right-addon">
                                                @Edit.Decimal(Model.SubEntrevistaList[x].SalarioPropuesto, name: cadenaAux + "SalarioPropuesto", id: "SalarioPropuesto" + x, required: false, htmlClass: "form-control", expReg: expRegularDecimal, decimalSeparator: ",", numberSeparator: ".", attributes: new Dictionary<string, string> { { disabled, "" } })
                                                @Html.Raw(htmlMoneda)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <div class="col-lg-12 title-form">
                                            <label for="SalarioDeseado">@Resources.HTML_Candidaturas_VerEditarSubEntrevistas_SalarioDeseado</label>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="inner-addon right-addon">
                                                @Edit.Decimal(Model.SubEntrevistaList[x].SalarioDeseado, name: cadenaAux + "SalarioDeseado", id: "SalarioDeseado" + x, required: true, htmlClass: "form-control", expReg: expRegularDecimal, decimalSeparator: ",", numberSeparator: ".", attributes: new Dictionary<string, string> { { disabled, "" } })
                                                @Html.Raw(htmlMoneda)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <div class="col-lg-12 title-form">
                                            <label for="SalarioActual">@Resources.HTML_Candidaturas_VerEditarSubEntrevistas_SalarioActual</label>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="inner-addon right-addon">
                                                @Edit.Decimal(Model.SubEntrevistaList[x].SalarioActual, name: cadenaAux + "SalarioActual", id: "SalarioActual" + x, required: false, htmlClass: "form-control", expReg: expRegularDecimal, decimalSeparator: ",", numberSeparator: ".", attributes: new Dictionary<string, string> { { disabled, "" } })
                                                @Html.Raw(htmlMoneda)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="form-group col-lg-4">
                                        <div class="col-lg-12 title-form">
                                            <label for="CategoriaId">@Resources.HTML_Candidaturas_VerEditarSubEntrevistas_Categoria</label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Edit.DropDownExtend(Model.SubEntrevistaList[x].CategoriaId, cadenaAux + "CategoriaId", Model.CategoriaList, required: true, htmlClass: "form-control", id: "CategoriaId" + x, disabled: !(Model.Editar))
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="form-group col-lg-4">
                                        <div class="col-lg-12 title-form">
                                            <label for="IncorporacionId">@Resources.HTML_Candidaturas_VerEditarSubEntrevistas_Incorporacion</label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Edit.DropDownExtend(Model.SubEntrevistaList[x].IncorporacionId, cadenaAux + "IncorporacionId", Model.IncorporacionList, required: true, htmlClass: "form-control", id: "IncorporacionId", disabled: !(Model.Editar))
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 pt-22">
                                        <div class="col-lg-4 title-form">
                                            <label for="DisponibilidadViajes">@Resources.HTML_Candidaturas_VerEditarSubEntrevistas_DisponibilidadViajes</label>
                                        </div>
                                        <div class="col-lg-8">
                                            @Edit.CheckBoxDig(value: Model.SubEntrevistaList[x].DisponibilidadViajes, name: cadenaAux + "DisponibilidadViajes", id: "DisponibilidadViajes" + x, disabled: !(Model.Editar), required: false)
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4 pt-22">
                                        <div class="col-lg-4 title-form">
                                            <label>@Resources.HTML_Candidaturas_VerEditarSubEntrevistas_CambioResidencia</label>
                                        </div>
                                        <div class="col-lg-8">
                                            @Edit.CheckBoxDig(value: Model.SubEntrevistaList[x].CambioResidencia, name: cadenaAux + "CambioResidencia", id: "CambioResidencia" + x, disabled: !(Model.Editar), required: false)
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-row">
                                    <div class="form-group col-lg-4">
                                        <div class="col-lg-4 title-form">
                                            <label>@Resources.HTML_Candidaturas_VerEditarSubEntrevistas_SuperaEntrevista</label>
                                        </div>
                                        <div class="col-lg-8">
                                            @Edit.CheckBoxDig(value: Model.SubEntrevistaList[x].SuperaSubEntrevista, name: cadenaAux + "SuperaSubEntrevista", id: "SuperaSubEntrevista" + x, disabled: !(Model.Editar), required: false)
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-8">
                                        <div class="col-lg-12 title-form">
                                            <label for="Observaciones">@Resources.HTML_Candidaturas_VerEditarSubEntrevistas_Observaciones</label>
                                        </div>
                                        <div class="col-lg-12">
                                            @Edit.Text("", cadenaAux + "Observaciones", "ObservacionesHidden_" + x, htmlClass: "hidden", required: false)
                                            @Edit.TextArea(Model.SubEntrevistaList[x].Observaciones, "Observaciones_" + x, id: "Observaciones_" + x, htmlClass: "form-control", disabled: !(Model.Editar), isReadOnly: !(Model.Editar))
                                        </div>
                                    </div>
                                </div>                               
                            </div>
                        </div>

                    </div>
                </div> <!-- End .content-box -->
            </div> <!--End .Row-->
        }
    }
}
@section scripts{
    @CandidaturasFrontActions.MenuFrontActions()
    @CandidaturasFrontActions.EditSubEntrevistasFrontActions(Url, Model, nSubEntrevistas)

}