@using RecruitingWeb.Properties
@model Recruiting.Application.Candidaturas.ViewModel.CandidaturaFiltradoCvViewModel


<div class="row titlePage">
    <div class="col-lg-6">
        <h3>@Resources.HTML_Candidaturas_FiltradoCv_Filtrar - @Model.NombreCandidato</h3>
    </div>
</div>
<div class="row header-flap">    
    <div class="btn-group" role="group">
        <a href="@Url.Action("Volver", "Candidaturas")" class="btn btn-default">
            <span class="text">@Resources.HTML_BotonGenericoVolver</span>
        </a>
        <a href="#" data-action="guardar" class="btn btn-default">
            <span class="text">@Resources.HTML_BotonGenericoGuardar</span>
        </a>
        <a href="#" data-action="finalizar" class="btn btn-default">
            <span class="text">@Resources.HTML_BotonGenericoFinalizar</span>
        </a>
    </div>    
    <div class="col-lg-6 removePadding">
        <h4 class="noMargin headerBox">@Resources.HTML_Candidaturas_FiltradoCv_FiltradoCv</h4>
    </div>
</div>
@using (Html.BeginForm("FiltradoCv", "Candidaturas", FormMethod.Post, new Dictionary<string, object> { { "role", "form" }, { "data-parsley-validate", "true" } }))
{
    @Edit.Hidden("guardar", "SubmitType")
    @Edit.Hidden(Model.CandidaturaId, "CandidaturaId")

    @Html.Partial("~/Views/Candidaturas/Partials/Ejecutar/FiltradoCv/FiltradoCv.cshtml", Model)
}

@section scripts{
    @CandidaturasFrontActions.MenuFrontActions()
    @CandidaturasFrontActions.FiltradoCvPartialFrontActions()
    @CandidaturasFrontActions.FiltradoCvFrontActions()
}