@model Microsoft_Graph_REST_ASPNET_Connect.Models.FindMeetingTimesRowViewModel

@{
    ViewBag.Title = "GetFechaLocationMeeting";
}

<h2>GetFechaLocationMeeting</h2>

<div>
    <h4>FindMeetingTimesRowViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Selected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Selected)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
