@using RecruitingWeb.Properties

@model Recruiting.Application.Candidaturas.ViewModel.CandidaturaViewModel
<div class="row">
    <div class="content-box">
        <div class="content-box-content">
            <div class="row section-header">
                <div class="col-lg-6">
                    <h4>@Resources.HTML_Candidaturas_DatosDescarte_DatosDescarte</h4>
                </div>
            </div>
            <div class="content-box-content">
                <div class="section-form-FiltradoCV" data-id="section-form-datosbasicos">
                    <div class="row form-row">
                        <div class="form-group col-lg-4" id="MotivoRegion">
                            <div class="col-lg-12 title-form">
                                <label for="TipoRenunciaDescarte">@Resources.HTML_Candidaturas_ResultadoPrimeraEntrevista_Motivo</label>
                            </div>
                            <div class="col-lg-12 content-form">                                
                                @Model.TipoRenunciaDescarteNombre
                            </div>
                        </div>
                        <div class="form-group col-lg-8">
                            <div class="col-lg-12 title-form">
                                <label for="ComentariosRenunciaDescarte">@Resources.HTML_Candidaturas_DatosDescarte_ComentariosDescarte</label>
                            </div>
                            <div class="col-lg-12 content-form">
                                @Html.Raw(Model.ComentariosRenunciaDescarte)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End content-box-content -->
    </div> <!-- End .content-box -->
</div> <!--End .Row-->

